@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html,body{
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

a{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

div{
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.spiderMan{
    background-image: url(./images/spiderMen.jpg);
    background-position: center;
}

.ironMan{
    background-image: url(./images/ironMen.jpg);
}

.captainAmerika{
    background-image: url(./images/captainAmerika.jpg);
}

#Avengers{
    width: 100%;
    height: 100%;
    background-image: url(./images/Avengers.png);
    background-size: cover;
    background-position: center;
}

.moveBack{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1em;
    position: fixed;
    top: 2em;
    right: 2em;
}

